body {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    items-align: center;
    justify-content: center;
    font-family: 'Arial';
    font-size: 16px;
    background-color: lightgray;
}

h2 {
    font-size: 150%;
    font-weight: 200;
}