body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Arial';
    color: #ffffff;
    background: linear-gradient(45deg, blue, red);
    ;
}

h2 {
    margin-top: 200px;
}

#wrapper span {
    font-size: 80px;
    font-weight: 200;
}

#wrapper b {
    position: relative;
    bottom: 45px;
}

#city {
    font-size: 18px;
    margin-top: 40px;
}

#wrapper button {
    margin-top: 150px;
    width: 240px;
    height: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    border: none;
    border-radius: 20px;
}

#description {
    text-transform: capitalize;
    font-size: 18px;
}

.hidden {
    display: none;
}
#weather {
    display: flex;
    align-items: center;
    justify-content: center;
}
#icon {
    width: 30px;
    height: 30px;
}

@media (min-width: 700px) {
    #wrapper button {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 500px;
        height: 80px;
        font-size: 40px;
    }
    #city {
        margin: 0;
        font-size: 80px;
    }
    #description {
        font-size: 60px;
    }
    #wrapper span {
        font-size: 200px;
    }
    body {
        justify-content: center;
    }
    #weather {
        margin-top: 60px;
    }
    #icon {
        width: 100px;
        height: 100px;
    }
    #wrapper b {
        bottom: 98px;
        font-size: 60px;
    }

  }